fieldset{
    color: white;
    background-color: rgb(75, 75, 75);
    width: 30px;
}

input{
    border-radius: 10px;
    border-width: 1px;
}

textarea{
    border-radius: 10px;
}

p{
    border: 2px;
    border-color: black;
    color: red;
}
button{
    border-radius: 10px;
    border-width: 1px;
}

body{
    background-color: rgb(0, 0, 0);
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}